<header class="site-header" id="site-header">
  <div class="rh-inner">
    <a class="rh-logo" href="index.html" aria-label="Rayton"><img class="" src="assets/icons/header/871-28883-imgRaytonWhiteLogo.svg" alt="" width="24" height="24"></a>
    <nav class="rh-nav" id="header-navigation" aria-label="Головне меню" data-i18n-aria="header.navigation">
      <div class="rh-primary"><a class="rh-link rh-link--dot" href="ses.html"><img class="rh-dot" src="assets/icons/header/871-28883-imgEllipse9.svg" alt="" width="24" height="24"><span data-i18n="header.solar"><b>СЕС</b> для бізнесу</span></a>
<a class="rh-link rh-link--dot" href="uze.html"><img class="rh-dot" src="assets/icons/header/871-28883-imgEllipse9.svg" alt="" width="24" height="24"><span data-i18n="header.storage"><b>УЗЕ</b> для бізнесу</span></a>
<a class="rh-link " href="projects.html"><span data-i18n="header.projects">Проєкти</span></a>
<a class="rh-link " href="financing.html"><span data-i18n="header.financing">Кредитування</span></a>
<a class="rh-link " href="investments.html"><span data-i18n="header.investors">Для інвесторів</span></a></div>
      <div class="rh-dropdown rh-media">
        <button class="rh-link rh-trigger" type="button" aria-expanded="false" aria-controls="header-media"><span data-i18n="header.media">Медіа</span><img class="rh-chevron" src="assets/icons/header/871-28883-imgChevronDown.svg" alt="" width="24" height="24"></button>
        <div class="rh-panel rh-media-panel" id="header-media" hidden>
          <a href="blog.html"><img class="" src="assets/icons/header/871-28970-imgFileText.svg" alt="" width="24" height="24"><span data-i18n="header.blog">Блог</span></a>
          <hr>
          <a href="youtube.html"><img class="" src="assets/icons/header/871-28970-imgPlayCircle.svg" alt="" width="24" height="24"><span>Rayton TV</span></a>
        </div>
      </div>
      <a class="rh-link" href="about.html"><span data-i18n="header.about">Про нас</span></a>
    </nav>
    <div class="rh-actions">
      <div class="rh-languages" role="group" aria-label="Мова" data-i18n-aria="header.language">
        <button type="button" data-locale="uk" aria-pressed="true" lang="uk">UA</button>
        <button type="button" data-locale="ru" aria-pressed="false" lang="ru">RU</button>
        <button type="button" data-locale="en" aria-pressed="false" lang="en">EN</button>
      </div>
      <div class="rh-dropdown rh-contact">
        <button class="rh-contact-button rh-trigger" type="button" aria-expanded="false" aria-controls="header-contact"><span data-i18n="header.contact">Зв’язатись</span><span class="rh-arrow"><img class="" src="assets/icons/header/871-28883-imgDownArrow34787511.svg" alt="" width="24" height="24"></span></button>
        <div class="rh-panel rh-contact-panel" id="header-contact" hidden>
          <div class="rh-panel-heading"><strong><span data-i18n="header.contactTitle">Зв’язатись з нами</span></strong><button type="button" class="rh-close" aria-label="Закрити" data-i18n-aria="header.close"><img class="" src="assets/icons/header/871-28945-imgX.svg" alt="" width="24" height="24"></button></div>
          <p><span data-i18n="header.contactDescription">Отримайте консультацію або розрахунок вашого проєкту.</span></p>
          <hr>
          <a class="rh-contact-link" href="tel:+380732422343"><img class="" src="assets/icons/header/871-28945-imgPhone.svg" alt="" width="24" height="24"><span>+38 (073) 242-23-43</span></a>
          <a class="rh-calculate" href="calculator.html"><span data-i18n="header.calculate">Розрахувати проєкт</span><img class="" src="assets/icons/header/871-28945-imgDownArrow34787511.svg" alt="" width="24" height="24"></a>
          <hr>
          <a class="rh-contact-link" href="mailto:sales@rayton.com.ua"><img class="" src="assets/icons/header/871-28945-imgMail.svg" alt="" width="24" height="24"><span data-i18n="header.write">Написати нам</span></a>
        </div>
      </div>
      <button class="rh-burger" type="button" aria-label="Меню" data-i18n-aria="header.menu" aria-expanded="false" aria-controls="header-navigation"><span></span><span></span><span></span></button>
    </div>
  </div>
</header>
